# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
jspm_packages/
.pnpm-store

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Logs
logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
lerna-debug.log*

# macOS
.DS_Store
*.pem

# local env files
.env
.env.*
!.env.example

# caches / tooling
.npm
.eslintcache
.stylelintcache
.cache
.parcel-cache
*.tsbuildinfo

# Yarn
.yarn-integrity
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# coverage / test
coverage
*.lcov
.nyc_output

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android
